body{
    background-image: url("../src/background.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0px;
}

#nav-bar{
    background-color: #0e90d2;
    height: 24px;
    width: 1286px;
    padding: 15px 210px;
}
#nav-bar div{
    font-size:19px;
    color:#ffffff;
    font-weight: 800;
    float: left;
    margin: 0px 5px;
}
#nav-bar a{
    text-decoration: none;
    font-size:17px;
    color:#ffffff;
    margin: 0px 12px;
}
#nav-bar form{
    position: absolute;
    top:6px;
    left:1235px;
}
#nav-bar input{
    height: 30px;
    width: 154px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 0px;
}
#nav-bar button{
    position: absolute;
    height: 37px;
    width: 64px;
    left: 181px;
    font-size: 15px;
}

#content{
    background-color: rgba(255,255,255,0.85);
    padding: 26px 17px;
    position: absolute;
    top: 93px;
    left: 204px;
    width: 830px;
    border-radius: 2px;
}

#side-bar{
    background-color: rgb(255,255,255);
    position: absolute;
    top: 93px;
    left: 1084px;
    height: 247px;
    width: 400px;
    border-radius: 2px;
}
#avatar{
    transform: scale(0.295);
    border-radius: 50%;
    position: absolute;
    border-radius: 50%;
    top: -85px;
    left: 49px;
}
#name{
    position: absolute;
    top: 144px;
    width: 400px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
#intr{
    position: absolute;
    top: 197px;
    width: 400px;
    font-size: 15px;
    text-align: center;
}

a{
    text-decoration: none;
}